#home{
	width: 100%;
	height: 100%;
	display: table;
}
#home_statements{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	padding:100px 0;
	-o-transition:background-color 1s ease;
	-webkit-transition:background-color 1s ease;
	-ms-transition:background-color 1s ease;
	-moz-transition:background-color 1s ease;
	transition:background-color 1s ease;
	background-image: url(../images/grain.png);
	background-repeat: repeat;
}
#home_statements .container{
	margin: 0 auto;
	position: relative;
	max-width: 1000px;
	min-width: 500px;
}
.statement_spinner{
	position: absolute;
	z-index: 0;
	-o-transition:z-index .3s ease-out,opacity .3s ease-out;
	-webkit-transition:z-index .3s ease-out,opacity .3s ease-out;
	-ms-transition:z-index .3s ease-out,opacity .3s ease-out;
	-moz-transition:z-index .3s ease-out,opacity .3s ease-out;
	transition:z-index .3s ease-out,opacity .3s ease-out;
}
.statement_spinner.cur_part{
	z-index: 1;
}
/*字母单词按钮的结构类*/
.letter,.word,.point,.btn {
	float: left;
}
.letter_list,.btn_list,.point_list{
	overflow: hidden;
	display: table;
	margin: 0 auto;
}
/************字母***********/
.letter_list{
	height: 129px;
}
div.letter_list div.letter{
	height: 129px;
}
/***************************/

/************单词************/
div.word_list{
	margin-top: 42px !important;
	height: auto;
	overflow: hidden;
}
/*temp*/
.word_list p{
	color: white;
	text-align:center;
	word-wrap:break-word;
	word-break:break-all;
	font-size:24px;
	margin-top:0;
	line-height:35px;
	position:relative;
	top:-100%;
	-o-transition:top .5s ease,opacity 1s ease;
	-webkit-transition:top .5s ease,opacity 1s ease;
	-moz-transition:top .5s ease,opacity 1s ease;
	-ms-transition:top .5s ease,opacity 1s ease;
	transition:top .5s ease,opacity 1s ease;
}
div.word_list div.word{
	font-size: 24px;
	margin-bottom: 13px;
}
.chileung .frame{
	margin: 0 220px;
}
.plumeria .frame{
	margin: 0 250px;
}
.newfangled .frame{
	margin: 0 200px;
}
.logical .frame{
	margin:0 290px;
}
.web .frame{
	margin: 0 200px;
}
.dev .frame{
	margin: 0 160px;
}
.funny .frame{
	margin: 0 340px;
}
/***************************/

/*********中间按钮***********/
div.btn_list{
	margin-top: 25px;
}
div.btn_list .btn{
	width: 100px;
	height: 32px;
	border:0;
	padding: 0;
	font-size: 18px;
	background: transparent url(../images/enter_btn.png) no-repeat 0 -100%;
	-moz-transition:background-position 0.4s ease-in;
	-o-transition:background-position 0.4s ease-in;
	-ms-transition:background-position 0.4s ease-in;
	-webkit-transition:background-position 0.4s ease-in;
	transition:background-position 0.4s ease-in;
}
div.btn_list .btn:hover{
	background-position: center bottom !important;
}
/**************************/

/**********指引点***********/
div.point_list{
	height: 22px;
	padding-top: 340px;
}
div.point_list div.point{
	margin: 0 9px;
	width: 23px;
	height: 22px;
	background: transparent url(../images/point2.png) no-repeat center;
	text-indent: -999px;
	cursor: pointer;
}
div.point_list div.point:hover{
	background: transparent url(../images/point.png) no-repeat center;
}
div.point_list div.point.current{
	background: transparent url(../images/point.png) no-repeat center;
}
/************************/

/********字母类主题********/
.l{
	text-indent: -999px;
	-o-transition:background-position .2s ease-out;
	-ms-transition:background-position .2s ease-out;
	-moz-transition:background-position .2s ease-out;
	-webkit-transition:background-position .2s ease-out;
	transition:background-position .2s ease-out;
}
/*横类*/
.l_y{
	background: transparent url(../images/letter/y.png) no-repeat -100% 0;
	width: 82px;
}
.l_t{
	background: transparent url(../images/letter/t.png) no-repeat -100% 0;
	width: 83px;
}
.l_v{
	background: transparent url(../images/letter/v.png) no-repeat -100% 0;
	width: 90px;
}
.l_d{
	background: transparent url(../images/letter/d.png) no-repeat -100% 0;
	width: 87px;
}
.l_f{
	background: transparent url(../images/letter/f.png) no-repeat 200% 0;
	width: 70px;
}
.l_w{
	background: transparent url(../images/letter/w.png) no-repeat -100% 0;
	width: 125px;
}
.l_a{
	background: transparent url(../images/letter/a.png) no-repeat -100% 0;
	width: 94px;
}
.l_m{
	background: transparent url(../images/letter/m.png) no-repeat -100% 0;
	width: 108px;
}
.l_r{
	background: transparent url(../images/letter/r.png) no-repeat -100% 0;
	width: 77px;
}
.l_l{
	background: transparent url(../images/letter/l.png) no-repeat 200% 0;
	width: 68px;
}
/*竖类*/
.l_p{
	background: transparent url(../images/letter/p.png) no-repeat 0 200%;	
	width: 74px;
}
.l_ep{
	background: transparent url(../images/letter/!.png) no-repeat 0 -100%;
	width: 33px;
}
.l_b{
	background: transparent url(../images/letter/b.png) no-repeat 0 -100%;
	width: 79px;
}
.l_o{
	background: transparent url(../images/letter/o.png) no-repeat 0 200%;
	width: 98px;
}
.l_g{
	background: transparent url(../images/letter/g.png) no-repeat 0 200%;
	width: 90px;
}
.l_n{
	background: transparent url(../images/letter/n.png) no-repeat 0 -100%;
	width: 85px;
}
.l_h{
	background: transparent url(../images/letter/h.png) no-repeat 0 -100%;
	width: 83px;
}
.l_c{
	background: transparent url(../images/letter/c.png) no-repeat 0 -100%;
	width: 92px;
}
.l_i{
	background:transparent url(../images/letter/i.png) no-repeat 0 -100%;
	width: 31px;
}
.l_e{
	background: transparent url(../images/letter/e.png) no-repeat 0 -100%;	
	width: 70px;
}
.l_u{
	background: transparent url(../images/letter/u.png) no-repeat 0 -100%;
	width: 82px;
}
/***************************/

/*********动画相关***********/
.to_top{
	background-position: center top !important;
}
.to_bottom{
	background-position: center bottom !important;
}
.to_left{
	background-position: center left !important;
}
.to_right{
	background-position: center right !important;
}
@-o-keyframes skewing_left{
	0%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-ms-keyframes skewing_left{
	0%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-moz-keyframes skewing_left{
	0%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-webkit-keyframes skewing_left{
	0%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@keyframes skewing_left{
	0%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-o-keyframes skewing_right{
	0%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-ms-keyframes skewing_right{
	0%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-moz-keyframes skewing_right{
	0%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-webkit-keyframes skewing_right{
	0%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@keyframes skewing_right{
	0%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
}
@-o-keyframes point_skewing_left{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
	11%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-ms-keyframes point_skewing_left{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
	11%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-moz-keyframes point_skewing_left{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
	11%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-webkit-keyframes point_skewing_left{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
	11%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@keyframes point_skewing_left{
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
	}
	11%{
		-o-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-ms-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-moz-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		-webkit-transform:rotate(-15deg) translateX(-100px) translateY(-20px);
		transform:rotate(-15deg) translateX(-100px) translateY(-20px);
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-o-keyframes point_skewing_right{
	0%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
	10%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-ms-keyframes point_skewing_right{
	0%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
	10%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-moz-keyframes point_skewing_right{
	0%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
	10%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@-webkit-keyframes point_skewing_right{
	0%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
	10%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
@keyframes point_skewing_right{
	0%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
	10%{
		-o-transform:rotate(15deg) translateX(100px) translateY(20px);
		-ms-transform:rotate(15deg) translateX(100px) translateY(20px);
		-moz-transform:rotate(15deg) translateX(100px) translateY(20px);
		-webkit-transform:rotate(15deg) translateX(100px) translateY(20px);
		transform:rotate(15deg) translateX(100px) translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:rotate(0deg) translateX(0px) translateY(0px);
		-ms-transform:rotate(0deg) translateX(0px) translateY(0px);
		-moz-transform:rotate(0deg) translateX(0px) translateY(0px);
		-webkit-transform:rotate(0deg) translateX(0px) translateY(0px);
		transform:rotate(0deg) translateX(0px) translateY(0px);
		opacity: 1;
	}
}
.point_skewing_left{
	-o-animation:point_skewing_left .3s ease-out both;
	-ms-animation:point_skewing_left .3s ease-out both;
	-moz-animation:point_skewing_left .3s ease-out both;
	-webkit-animation:point_skewing_left .3s ease-out both;
	animation:point_skewing_left .3s ease-out both;
}
.point_skewing_right{
	-o-animation:point_skewing_right .3s ease-out both;
	-ms-animation:point_skewing_right .3s ease-out both;
	-moz-animation:point_skewing_right .3s ease-out both;
	-webkit-animation:point_skewing_right .3s ease-out both;
	animation:point_skewing_right .3s ease-out both;
}
.skewing_left{
	-o-animation:skewing_left .3s ease-out both;
	-ms-animation:skewing_left .3s ease-out both;
	-moz-animation:skewing_left .3s ease-out both;
	-webkit-animation:skewing_left .3s ease-out both;
	animation:skewing_left .3s ease-out both;
}
.skewing_right{
	-o-animation:skewing_right .3s ease-out both;
	-ms-animation:skewing_right .3s ease-out both;
	-moz-animation:skewing_right .3s ease-out both;
	-webkit-animation:skewing_right .3s ease-out both;
	animation:skewing_right .3s ease-out both;
}
.opacity_show{
	opacity: 1;
}
.opacity_hide{
	opacity: 0;
}